* {
  margin: 0;
  padding: 0; }

title {
  font-weight: 500; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

a {
  text-decoration: none;
  outline: none; }
