doctype html
html
	head
		title Page not Found
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	body
		h1= message
		h2= error.status
		pre #{error.stack}
