block var

doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content!=description)
		meta(name='keywords', content!=keywords)
		meta(name='author', content!=author)

		//- Schema.org markup for Google+
		meta(itemprop='name', content!=title)
		meta(itemprop='description', content!=description)
		meta(itemprop='image', content='https://rayrinaldy.github.io/ray-website/images/1.jpg')

		//- Twitter Card data
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@ray_r9')
		meta(name='twitter:title', content!=title)
		meta(name='twitter:description', content!=description)
		meta(name='twitter:creator', content='@ray_r9')

		//- Twitter summary card with large image must be at least 280x150px
		meta(name='twitter:image:src', content='https://rayrinaldy.github.io/ray-website/images/1.jpg')

		//- Open Graph data
		meta(property='og:title', content!=title)
		meta(property='og:type', content='article')
		meta(property='og:url', content='http://www.rayrinaldy.com/')
		meta(property='og:image', content='https://rayrinaldy.github.io/ray-website/images/1.jpg')
		meta(property='og:description', content!=description)
		meta(property='og:site_name', content!=description)
		meta(property='article:published_time', content='2017-01-04T05:59:00+08:00')
		meta(property='article:modified_time', content='2017-01-04T19:08:47+08:00')
		meta(property='article:section', content='Article Section')
		meta(property='article:tag', content='Article Tag')
		meta(property='fb:admins', content='1605949105')

		meta(name='theme-color', content='#db0011')

		link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='icon', href='images/favicon.ico', type='image/x-icon')

		meta(name='msapplication-TileColor', content='#db0011')
		meta(name='msapplication-TileImage', content='images/favicon.ico')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')

		title!=title

		if config.deploy
			link(rel='stylesheet', type='text/css', media='screen', href='css/style.min.css')
		else
			link(rel='stylesheet', type='text/css', media='screen', href='css/bootstrap.css')
			link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
			link(rel='stylesheet', type='text/css', media='screen', href='css/style.css')

		block css

	body
		//- nav.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						img(src="images/logo.png", alt="Hegar Sumber Kreasi")

				#myNavbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='/') Home
						li
							a(href='/about') About Us
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| Products 
								span.caret
							ul.dropdown-menu
								li
									a(href='#') Page 1-1
								li
									a(href='#') Page 1-2
								li
									a(href='#') Page 1-3

						li
							a(href='/careers') Careers
						li
							a(href='#') Contact Us
					//- ul.nav.navbar-nav.navbar-right
						li
							a#signup(href='#')
								span.glyphicon.glyphicon-user
								|  Sign Up
						li
							a#login(href='#')
								span.glyphicon.glyphicon-log-in
								|  Login

		nav#mainNav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				//- Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') 
						.brand-title Hegar Sumber Kreasi
						img(src="images/logo.png", alt="Hegar Sumber Kreasi")

				//- Collect the nav links, forms, and other content for toggling
				#navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.active
							a.no-border(href='/') Home
						li
							a(href='/about') About Us
						li
							a(href='/products') Products
						li
							a(href='/careers') Careers
						li
							a(href='/contact') Contact Us

		block content
		

		#partnership.text-center
			.container-fluid
				.row
					.col-sm-10.col-sm-offset-1
						hr
						.partnership-title In Partnership with
						.row.slider-parent
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							

		#footer 
			.container-fluid
					.row
						.col-md-10.col-md-offset-1
							.footer-text Copyright© Hegar Sumber Kreasi 2017. All Rights Reserved.
			
		script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
		script(src="js/bootstrap.min.js")

		if config.deploy
			script(src="js/script.min.js")
		else
			block scripts




			
