extends layout


block content
	.container
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				|  Signup

				if message.length > 0
					.alert.alert-danger #{message}

			// show any messages that come back with authentication
			// LOGIN FORM
			form(action='/register', method='post')
				input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
				input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
				input(type='email', name='email', class='form-control', placeholder='Email',required)
				input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
				input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
				button(class='btn btn-lg btn-primary btn-block', type='submit') Register
				span.clearfix
			hr
			p
				| Already have an account? 
				a(href='/login') Login
			p
				| Or go 
				a(href='/') home
				| .